@model HealthCareAppointment.HealthCare_BLL.Models.Dashboard

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div><h4>Welcome @Session["Username"].ToString()</h4></div>
        <br />
        <br />
        <div>
            <h4>Your Role Type - @Session["Role"].ToString()</h4>
        </div>
        <br />
        @if (@Session["Role"].ToString() == "Admin")
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="align-self:flex-end">
                    <li>@Html.ActionLink("Location", "Login", "Account", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Patient", "Register", "Account", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Doctor", "Register", "Account", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Appointment", "Appointmentdashboard", "Appointment", new { area = "" }, null)</li>
                </ul>
            </div>
        }
        else if (@Session["Role"].ToString() == "Doctor")
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="align-self:flex-end">
                    <li>@Html.ActionLink("Patient", "Login", "Account", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Appointment", "Appointmentdashboard", "Appointment", new { area = "" }, null)</li>
                </ul>
            </div>
        }
        else
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="align-self:flex-end">
                    <li>@Html.ActionLink("Book Appointment", "Appointment", "Appointment", new { area = "" }, null)</li>
                </ul>
            </div>
        }
    </div>
}


